{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Django + HTMX + Alpine.js</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="{% static 'css/styles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>

</head>
<body class="w-100 h-100 m-0 p-0" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' style="font-family: 'Abel', serif;">
{% block content %}{% endblock %}
</body>
</html>