{% extends 'base.html' %}

{% block content %}
<div class="container-fluid p-0 m-0">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <form class="w-100" style="max-width: 310px;" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label w-100 text-center">Username</label>
                <input type="text" class="form-control rounded-pill border-secondary" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label w-100 text-center">Password</label>
                <input type="password" class="form-control rounded-pill border-secondary" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-secondary w-100 rounded-pill">Login</button>
        </form>
    </div>
</div>
{% endblock %}
